html {
    min-width:100%;
    min-height:100%;
    background-image: linear-gradient(to top left, #1f1f2e, #c2c2d6);
    background-repeat: no-repeat;
}

#logo {
    display:inline-block;
}

#logo > img {
    width: 128px;
}

nav {
    display: inline-block;
    vertical-align:top;
    padding-top:64px;
    padding-left:24px;
}

.selectorWrap{
    list-style:none;
    padding:0px;
    float:left;
    width: 250px;
}

.selector {
    cursor:pointer;
    padding: 10px;
}
.selected {
    font-weight: bold;
    background-color: rgba(11,11,11,0.5);
}
